@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM sans', sans-serif;
}

body {
    min-height: 100vh;
    background: #F8E9DD;
    padding: 1.6rem;
    display: grid;
    place-items: center;
}